

<div class="container jumbotron"
   
fxLayout="row"
fxLayout.sm="column" 
fxLayout.xs="column" 
fxLayoutAlign.xs="start center"
fxLayoutAlign.sm="start center" 
fxLayoutAlign.gt-sm="center center" 
fxLayoutGap="10px">

<div fxFlex fxFlex.gt-sm="50%">
  <h1>What Is Arbitrage?</h1>
  <p>Arbitrage describes the act of buying a security in one market and simultaneously selling it in another market at a higher price, thereby enabling investors to profit from the temporary difference in cost per share.</p>
</div>
<div fxFlex fxFlex.gt-sm="80%">
  <img src="/assets/images/home5.jpg" alt="logo" >
</div>
<div fxFlex></div>
          
</div>



  <div style="width:100%; height: 500px; text-align:center;margin:0; padding:0;" > 
    <ng-image-slider #nav
      [images]="imageObject"
      [infinite]="true"
      [autoSlide]="1"
      [imageSize]="{width: '100%', height: 500}"
      slideImage="1"></ng-image-slider>
  </div>